__pycache__
*.sqlite3
*.db
*.pyc
*.bak
*.log
preauth.sql
*~
*#
web/
**/web/
**/local_settings.py
**/local_settings.py.*
bin/
localbin/
*.old
**/*.data
old/
rawdata/
graphs/
backup/
.djangotest/
*_htdocs/
screenshots/
report/
media/
__MACOSX/
node_modules/
package-lock.json
