{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ COMMUNITY_DESCRIPTION }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ COMMUNITY_NAME }} - {% block wintitle %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/fenice.css' %}"/>

    <link rel="icon" href="{% static 'brand/favicon.png' %}" type="image/png"/>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet"> 

    {% block addcss %}{% endblock %}

  </head>

  <body>

    <nav id="mainbar" class="ontop">
      <h1 class="hidden">{% trans "Main navigation" %}</h1>

      <section class="banner">
	<h2 class="hidden">{% trans "Banner" %}</h2>
	<p id="banner2">
	  <span>Fai parte del cambiamento</span>&nbsp; 
	  <a class="button purple">{% trans "register" %}</a>
	</p>
	<p id="banner1">
	  Siamo pronti a partire con il nostro e–commerce
	</p>
      </section>

      <div class="menu">

	<div class="logo">
	  <img src="{% static 'brand/logo_verde.svg' %}" alt="logo"/>
	  <div>
	    <p class="fenice">{{ COMMUNITY_NAME }}</p>
	    <p class="slogan">{{ COMMUNITY_SLOGAN }}</p>
	  </div>
	</div>
	
	<section id="mainmenu">
	  <button id="mainmenu-open" data-target="#mainmenu"  class="menu-opener whitegray">
	    <i class="fas fa-bars"></i></button>
	  <h2 class="hidden">{% trans "Site navigation" %}</h2>
	  <a href="{% url "home" %}">home</a>
	  <a href="{% url "feniceblog:article_archive" %}">{% trans "blog" %}</a>
	</section>
	
	<section id="usermenu">
	  <button id="usermenu-open" data-target="#usermenu" class="menu-opener whitegray">
	    <i class="fas fa-user"></i></button>
	  <h2 class="hidden">{% trans "User navigation" %}</h2>
	  {% if user.is_anonymous %}
	  <a href="{% url "feniceauth:login" %}">{% trans "login" %}</a>
	  <a href="{% url "feniceauth:register" %}">{% trans "register" %}</a>
	  {% else %}
	  <a href="{% url "feniceauth:profile" %}">{% trans "profile" %}</a>
	  {% if user.is_staff %}
	  <a href="{% url "admin:index" %}">{% trans "admin" %}</a>
	  {% endif %}
	  <a href="{% url "feniceauth:logout" %}">{% trans "logout" %}</a>
	  {% endif %}
	</section>
      </div>
    </nav>
    
    {% block body %}
    
    {% block outheader %}
    <header>
      {% block header %}
      {% endblock header %}
    </header>
    {% endblock outheader %}

    <main>
      {% block main %}
      {% endblock %}
    </main>


    <footer>

      <section class="info">
	<h1 class="hidden">{% trans "Useful links" %}</h1>

	<section class="left">
	  <h2 class="hidden">{% trans "About us" %}</h2>
	  <p><a href="mailto:community@costruttoridimondi.org">community@costruttoridimondi.org</a></p>
	</section>

	<section class="center">
	  <h2>{% trans "Follow us on social" %}</h2>
	  <nav class="icons">
	  </nav>
	</section>

	<section class="right">
	  <h2 class="hidden">{% trans "Internals" %}</h2>
	  <p><a href="{% url "fenicegdpr:policy" %}">{% trans "Privacy Policy" %}</a></p>
	  <p><a href="{% url "credits" %}">{% trans "Credits" %}</a></p>
	</section>

      </section>

      <section class="notes">
	<h1 class="hidden">{% trans "Notes" %}</h1>
	<p class="center">© 2020 {{ COMMUNITY_NAME }}.
	  {% blocktrans %}Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>{% endblocktrans %}
	  <i class="fab fa-creative-commons"></i>
	  <i class="fab fa-creative-commons-by"></i>
	  <i class="fab fa-creative-commons-sa"></i>
</p>
      </section>

    </footer>

    {% endblock %}

    {% if save_browser_data %}
    <form id="browserinfo" class="hidden" action="{{ save_browser_data }}" method="post">
      {% csrf_token %}
    </form>
    {% endif %}



    {% block mainscript %}

    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1/build/global/luxon.min.js"></script>

    {% block addscript %}{% endblock %}
    
    <script>//<![CDATA[    
$(document).ready(function() {
    /*** CSRF ***/
    jQuery(document).ajaxSend(function(event, xhr, settings) {
	function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
			cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			break;
                    }
		}
            }
            return cookieValue;
	}
	function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		// or any other URL that isn't scheme relative or absolute i.e relative.
		!(/^(\/\/|http:|https:).*/.test(url));
	}
	function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	
	if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	}
    });
    
    /*** Ajax Setup ***/
    $.ajaxSetup({traditional: true}); 

    /*** decorate bar ***/

    function NavScroll(){
	this.nav=$("nav#mainbar");
	this._handler=false;
	this.nav_height=this.nav.height(); 
    };

    NavScroll.prototype = {
	setup: function () {
	    var from_top=$(window).scrollTop();
	    if ( from_top > this.nav_height) {
		this.nav.removeClass("ontop").addClass("scrolled");
	    } else {
		this.nav.removeClass("scrolled").addClass("ontop");
	    }
	},
	disable_reduced: function() {
	    this.disable();
	    this.nav.removeClass("ontop").addClass("scrolled");
	},
	enable: function() {
	    var self=this;
	    var handler=function(event){ self.setup() };
	    $(window).on("scroll touchmove", handler);
	    this._handler=handler;
	},
	disable: function() {
	    if (!this._handler) return;
	    $(window).off("scroll touchmove", this._handler);
	    this._handler=false;
	}
    };

    var navscroll=new NavScroll();
    navscroll.setup();
    navscroll.enable();
    
    $(".menu-opener").click(function(event){
	event.preventDefault();
	var target=$( $(this).data("target") );
	target.children("a").each(function(){
	    $(this).css({ "opacity": 1-$(this).css("opacity") });
	});
    });


    /*** page script ***/

    {% block script %}{% endblock script %}

    /*** end page script ***/

    {% if save_browser_data %}
    /*** browser statistic ***/

    var collect_stat = function(){
	var form=$("#browserinfo");

	var luxon_prop=luxon.Info.features();
	var dt=luxon.DateTime.local();
	var data = {
	    "csrf_token": form.children("input[name=csrfmiddlewaretoken]").val(),
	    "code_name": navigator.appCodeName,
	    "name": navigator.appName,
	    "version": navigator.appVersion,
	    "language": navigator.language,
	    "platform": navigator.platform,
	    "user_agent": navigator.userAgent,
	    "cookies_enabled": navigator.cookieEnabled,
	    "screen_width": screen.width,
	    "screen_height": screen.height,
	    "screen_available_width": screen.availWidth,
	    "screen_available_height": screen.availHeight,
	    "screen_color_depth": screen.colorDepth,
	    "screen_pixel_depth": screen.pixelDepth,
	    "luxon_intl": luxon_prop["intl"],
	    "luxon_intl_tokens": luxon_prop["intlTokens"],
	    "luxon_zones": luxon_prop["zones"],
	    "luxon_relative": luxon_prop["relative"],
	    "timezone": dt.zoneName,
	    "iso_timestamps": dt.toISO(),
	    "viewport_width": Math.max(document.documentElement.clientWidth, window.innerWidth || 0),
	    "viewport_height": Math.max(document.documentElement.clientHeight, window.innerHeight || 0)
	}
	$.ajax({
	    "url": "{{ save_browser_data }}",
	    "data": data,
	    "headers": {
		"Accept": "application/json"
	    },
	    "method": "POST",
	    "success":function( data ) {
		console.log("ok",ret);
	    },
	    "error": function(ret){
		console.log("error",ret);
		
	    }	
	}); 

    };

    collect_stat();

    {% endif %}

    

});

//]]></script>

    {% endblock mainscript %}
  </body>
</html>
