{% extends "feniceauth/base_form.html" %}
{% load i18n %}

{% block wintitle %}{% trans "Login" %}{% endblock %}
{% block message-text %}{% trans "Sign in to connect with the community." %}{% endblock %}

{% block errors %}
{% if form.errors %}
<p>{% trans "Username and password didn't match." %}</p>
{% endif %}
{% endblock %}

{% block form %}
  <form method="post" action="{% url 'feniceauth:login' %}" id="login">
    <div class="data">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {{ form.username }}
      {{ form.password }}
    </div>
    <div class="action">
      <input type="submit" value="{% trans "login" %}"> 
    </div>
    <div class="action">
      <a class="button primary-reverse" href="{% url 'feniceauth:password_reset' %}">
	{% trans "Lost password?" %}</a>
      <a class="button primary-reverse" href="{% url 'feniceauth:register' %}">
	{% trans "New user?" %}</a>
    </div>
  </form>
{% endblock %}



