{% extends "feniceauth/base.html" %}
{% load i18n %}

{% block wintitle %}{% trans "Login" %}{% endblock %}
{% block headertitle %}{% trans "Login" %}{% endblock %}

{% block main %}

{% if form.errors %}

<section class="errors">
  <div>
    <p>{% trans "Your username and password didn't match. Please try again." %}</p>
  </div>
</section>

{% endif %}

{% if next %}
<section class="next">
  <div>
    {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
    {% else %}
    <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
  </div>
</section>
{% endif %}

<section class="auth-form">

  <form method="post" action="{% url 'feniceauth:login' %}" id="login">
    {% csrf_token %}
    <table>
      <tr>
	<th>{{ form.username.label_tag }}</th>
	<td>{{ form.username }}</td>
      </tr>
      <tr>
	<th>{{ form.password.label_tag }}</th>
	<td>{{ form.password }}</td>
      </tr>
    </table>
    
    <input type="submit" value="{% trans "login" %}"> 
    <a href="{% url 'feniceauth:password_reset' %}">{% trans "Lost password?" %}</a>
    <a href="{% url 'feniceauth:register' %}">{% trans "New user?" %}</a>
    <input type="hidden" name="next" value="{{ next }}">
  </form>
    
</section>

{% endblock %}
