{% extends "feniceauth/base.html" %}
{% load i18n %}

{% block headertitle %}{% trans "Reset password" %}{% endblock %}


{% block main %}

<section class="auth-form">

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">
  {% csrf_token %}

  <table>
    <tr>
      <th>{% trans "Email address" %}:</th>
      <td>{{ form.email }}</td>
      <td class="errors">{{ form.email.errors }}</td>
    </tr>
  </table>

  <input type="submit" value="{% trans 'Reset my password' %}">

</form>

</section>

{% endblock %}
