{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block wintitle %}{% trans "Credits" %}{% endblock %}

{% block main %}

<section class="credits">

  <h1>{% trans "Images with open license" %}</h1>

  <table>
    <thead>
      <tr>
	<th>&nbsp;</th>
	<th>{% trans "author" %}</th>
	<th colspan="2">{% trans "license" %}</th>
      </tr>
    </thead>

    {% for credit in openimagecredit_list %}
    
    <tbody>
      <tr>
	<td class="image" rowspan={% if credit.description %}3{% else %}2{% endif %}>
	  {% if credit.url %}<a href="{{ credit.url }}">{% endif %}
	    <img src="{{ credit.thumb_url }}"/>
	  {% if credit.url %}</a>{% endif %}
	</td>
	<td>{{ credit.author|safe }}</td>
	<td>
	  {% if credit.license.url %}<a href="{{ credit.license.url }}">{% endif %}
	    {{ credit.license.short_name }} 
	    {% if credit.license.short_name != credit.license.long_name %}- {{ credit.license.long_name }}{% endif %}
	  {% if credit.license.url %}</a>{% endif %}
	</td>
      </tr>
      <tr>
	<td colspan=2 class="description">
	    {% if credit.title %}{{ credit.title }}{% else %}{{ credit.name }}{% endif %}
	</td>
      </tr>
      {% if credit.description %}
      <tr>
	<td colspan=2 class="description">{{ credit.description|safe }}</td>
      </tr>
      {% endif %}

    </tbody>

    {% endfor %}

  </table>

</section>


{% endblock %}

