{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load gdpr %}

{% block wintitle %}{% trans "Welcome!" %}{% endblock %}

{% block outheader %}
{% endblock %}

{% block main %}

<section class="home-cover yellow">

  <div id="home-cover-banners">
    <div class="banner" id="cover-banner1">
      <h1>Porta il&nbsp;cambiamento sulla&nbsp;tua&nbsp;tavola</h1>
    </div>
    <div class="banner" id="cover-banner2">
      <h1>La&nbsp;comodità dell'e&#8209;commerce</h1>
    </div>
    <div class="banner" id="cover-banner3">
      <h1>La&nbsp;convenienza dei&nbsp;gruppi di&nbsp;acquisto</h1>
    </div>
  </div>

  <div class="gallery cover">
    <div class="cover-box">

      <figure>
	<div class="image">
	  {% include "includes/svg/mela.svg" %}
	</div>
	<figcaption>Scegli la qualità a chilometro zero</figcaption>
      </figure>

      <p>
	Selezionamo i migliori  produttori locali:
	ritrovi il sapore del territorio.
      </p>

    </div>

    <div class="cover-box">

      <figure>
	<div class="image">
	  {% include "includes/svg/salvadanaio.svg" %}
	</div>
	<figcaption>Risparmia con l&#39;acquisto&nbsp;di&nbsp;gruppo</figcaption>
      </figure>

      <p>
	Promuoviamo l'acquisto collettivo:  compri i
	prodotti al prezzo migliore.
      </p>

    </div>

    <div class="cover-box">

      <figure>
	<div class="image">
	  {% include "includes/svg/casetta.svg" %}
	</div>
	<figcaption>Ricevi la spesa direttamente a casa</figcaption>
      </figure>

      <p>
	Consegniamo tutto a domicilio: risparmi tempo e fai la spesa
	in sicurezza.
      </p>

    </div>

  </div>

</section>

<section class="home-mission yellow">
  <div class="content">
    <h1>La missione di {{ COMMUNITY_NAME }}</h1>
    
    <p class="center">Rilanciamo  i  piccoli  produttori  agricoli  e  salvaguardiamo
    l’ambiente con un sistema di  vendita e acquisto basato su filiera
    corta e cooperazione.</p>
  </div>

  <div class="gallery story">

    <figure>
      <div class="image">
	<img src="{% static "images/homepage/eco_maialino.svg" %}"/>
      </div>
      <figcaption class="large">Risolleviamo le economie locali</figcaption>
    </figure>
    
    <figure>
      <div class="image">
	<img src="{% static "images/homepage/eco_spine.svg" %}"/>
      </div>
      <figcaption class="large">Eliminiamo gli sprechi</figcaption>
    </figure>
    
    <figure>
      <div class="image">
	<img src="{% static "images/homepage/eco_albero.svg" %}"/>
      </div>
      <figcaption class="large">Riduciamo le emissioni di CO2</figcaption>
    </figure>
    
    <figure>
      <div class="image">
	<img src="{% static "images/homepage/eco_lampadina.svg" %}"/>
      </div>
      <figcaption class="large">Innoviamo&nbsp;il&nbsp;sistema agroalimentare</figcaption>
    </figure>
    
  </div>
</section>

<section class="home-tizi  yellow-green">

  <div class="content">
    <h1>Perché in gruppo è meglio?</h1>
    
    <p>Il modello  di acquisto  collettivo ti permette  di risparmiare
      lasciandoti libero di scegliere i prodotti locali che preferisci.</p>
  </div>

  <div class="flex-out">

  <div id="tizi-box">
    <img class="background" src="{% static "images/homepage/tizi.svg" %}"/>
    <svg viewBox="0 0 1100 720">
      <text x=120 y=312>Risparmio</text>
      <text x=302 y=94>Comunità</text>
      <text x=600 y=334>Efficienza</text>
      <text x=958 y=228>Ambiente</text>
    </svg>
  </div>

  <div id="add-email" class="gray">
      <h1>{% trans "Coming soon" %}</h1>
      
      <p class="justify">
	{% trans "Enter your email address so we can notify you when the service will be available in your zone" %}.
      </p>
      
      <form id="save-email"  action="{{ save_email_url }}">
	{% csrf_token %}
	<input type="email" name="email"  placeholder="{% trans "Your email address..." %}" required/>
	<input type="text" pattern="[0-9]{5}" name="cap"  placeholder="{% trans "Your ZIP..." %}" required/>
	<input type="hidden" name="agreement" value="{% gdpr_agreement_pk "Coming Soon" %}"/>
	<input type="submit" href="" class="button purple" 
	       value="{% trans 'keep me informed' %}"/>
      </form>

      <div class="thanks invisible" id="email-save-thanks">
	<img src="{% static "images/homepage/eco_germoglio.svg" %}"/>
	Grazie per l'interessamento
      </div>
      
      <p class="little justify">
	{% gdpr_agreement_text "Coming Soon" %}
      </p>
      
    </div>
</div>

</section>


<section class="blog-index simple white-yellow">

  <h1>Notizie dal fenice</h1>

  <div class="galery articles">
    {% for article in article_list|slice:":3" %}
    <section>
      <img src="{{ article.cover }}"/>
      <h1>{{ article.short_title }}</h1>
      <p>{{ article.description|truncatewords:150 }} 
	<a href="{{ article.get_absolute_url }}">Leggi</a>
      </p>
    </section>
    {% endfor %}
  </div>

</section>




{% endblock %}

{% block script %}

function DjangoForm(form_id){
    this._form_id=form_id;
    this._form=$(form_id);
    this._url=$(form_id).attr("action");
    this._base_fields=[];
};

DjangoForm.prototype = {
    setup: function() {
	var self=this;
	this._form.submit( function(event){
	    event.preventDefault();
	    self.submit();
	});
    },
    _read_data: function(){
	var data={
	    "csrf_token": this._form.children("input[name=csrfmiddlewaretoken]").val(),
	};
	data=Object.assign(data,this._base_form(this._base_fields));
	return data;
    },
    _success: function(ret){
	console.log("ok",ret);
	this.clean();
        $("#email-save-thanks").removeClass("invisible").addClass("visible");
    },
    clean: function(){
	this._form[0].reset();
    },
    _post: function(data){
	var self=this;
	$.ajax({
	    "url": self._url,
	    "data": data,
	    "headers": {
		"Accept": "application/json"
	    },
	    "method": "POST",
	    "success": function(ret) {
		self._success(ret);
	    },
	    "error": function(ret){
		console.log("error",ret);
	    }	
	}); 
	
    },
    submit: function(){
	this._post(this._read_data());
    },
    _inlines: function(prefix,fields,objs){
	var data={};
	var num=0;
	objs.forEach(function(value,index,array){
	    fields.forEach(function(field){
		data[prefix+"-"+index+"-"+field]=value[field];
	    });
	});
	data[prefix+"-INITIAL_FORMS"]= 0;
	data[prefix+"-MIN_NUM_FORMS"]= 0;
	data[prefix+"-TOTAL_FORMS"]=objs.length;
	data[prefix+"-MAX_NUM_FORMS"]=objs.length;
	return data;
    },
    _form_field_data: function(field) {
	return this._form.find("input[name="+field+"]").val();
    },
    _base_form: function(fields){
	var data={};
	var self=this;
	fields.forEach(function(field){
	    data[field]=self._form_field_data(field);
	});
	return data;
    }
    
};

function EmailForm(form_id) {
    DjangoForm.call(this,form_id);
    this._base_fields=["email","cap","agreement"];
}

EmailForm.prototype = Object.create(DjangoForm.prototype);
EmailForm.prototype.constructor = EmailForm;

var email_form=new EmailForm("form#save-email");
email_form.setup();


{% endblock %}
