{% extends "feniceauth/base_form.html" %}
{% load i18n %}

{% block wintitle %}{% trans "Registration" %}{% endblock %}
{% block message-text %}
{% trans "Welcome to our awesome community." %}
{% endblock %}


{% block form %}

<form method="post">
  <div class="data">
  {% csrf_token %}
  {% for field in form %}
  <span{% if field.errors %} class="errors"{% endif %}>{{ field }}<span></span></span>
  {{ field.errors }}
  {% endfor %}
  </div>

  <div class="action">
  <input type="submit" value="{% trans 'Register' %}" class="default">
  </div>

</form>
{% endblock %}

{% block after %}
{{ form.password1.help_text|safe }}
{% endblock %}
